.animated-bg {
  position: fixed;
  inset: 0;
  z-index: -1;

  background: linear-gradient(
    -45deg,
    #152331,
    #0b1621,
    #020608,
    #000000
  );

  background-size: 400% 400%;
  animation: gradientMove 18s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.accent-text {
  background: linear-gradient(45deg, #ff6b6b, #ff9c9c);
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px;
}

body {
    color: #e6edf3;
}

p {
    color: #e6edf3;
}

h1, h2, h3 {
    color: #ffffff;
}

h1 {
    text-shadow: 0 0 12px rgba(255,255,255,0.15);
}

a {
    color: #ff6b6b;
}

a:hover {
    color: #ff9c9c;
}

a.navbar-brand {
  color: #e6edf3;
}

a.navbar-brand:hover {
  color: #e6edf3;
}

svg {
    fill: #ffffff;
    stroke: #ffffff;
    opacity: 1;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:visited {
    color: #ffffff;
}


img[src*="simple-icons"]:hover{
  transform: scale(1.1);
  filter: invert(1) brightness(1.1);
}